.register-container #div_register {
  box-shadow: 1px 5px 10px rgb(157, 167, 158);
}

.register-container #div_register:hover{
  filter: drop-shadow(1px 10px 15px rgba(10, 6, 125, 0.925))

}


/* ---------side_box---------- */
.side_box_register {
  width: 600px;
  /* border: 3px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  height: 100vh;
  position: relative;
  /* margin: auto; */
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgb(157, 167, 158);
  background-color: rgba(0, 31, 63, 1);
  color: white;
}

#side_h1_r {
  padding: 20px;
  display: inline-block;
  height: 50px;
  margin-bottom: 40px;
  white-space: nowrap;  /* Adjust this value as needed */
}

#side_p_r {
  text-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 120px;
  line-height: 1.5;

  
}

#side_login{
  border: 3px solid;
  border-radius: 5px;
  line-height: 30px;
  position: relative;
  bottom: 50px;
  right: 10px;
}

/* ---------side_box---------- */


.register-container {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

#div_register {
  flex: 1; 
  max-width: 400px;
  margin: auto;
  padding: 40px;
  /* background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: white;
  box-shadow: 10px 50px 100px rgba(25, 200, 50, 1);
  border-radius: 10px;
  text-align: center;
  /* position: absolute;
  right: 120px;
  top: 90px; */
  z-index: 2;
}

#register_h2 {
  color: rgba(0, 31, 63, 1);
  font-size: 30px;
  text-align: center;
  padding-top: 65px;
}

#register_input,
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
}

#register_button {
  border: 3px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 16px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#register_button:hover {
  color: #333;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
  box-shadow: 10px 15px 20px rgba(1, 10, 10, 1);
}

#register_p {
  color:rgba(0, 31, 63, 1) ;
  font-weight: bold;
  position: relative;
  left: 30px;
}

#div_register {
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
